.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
  align-items: center;
  padding-top: 20px;
}

.logo {
  max-width: 100px;
  width: 100%;
}

.header__select {
  background-color: white;
  max-width: 150px;
}
