body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #f5f5f5;
  width: 100%;
  min-height: 100vh;
}

/* firefox scrollbar style */
:not(body) {
  scrollbar-width: thin;
}

/* scrollbar style for other browser */
:not(body)::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

:not(body)::-webkit-scrollbar-thumb {
  background-color: #aaaaaa;
}

:not(body)::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*extra styles */
.App {
  padding: 0px 20px 20px 20px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 1rem;
  justify-items: center;
  max-width: 1200px;
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
}

.app__left_content,
.app__right_content {
  width: 100%;
}

.app__right_content {
  height: max-content;
}

.app__stats {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
  width: 100%;
}

@media (max-width: 900px) {
  .App {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 500px) {
  .app__stats {
    grid-template-columns: 1fr;
    text-align: center;
  }
}
